/** 
 * main.css
 * 
 * 1. General HTML tags
 * 2. Masthead area
 * 3. Main content and sidebar
 * 4. Footer
 * 5. Media queries for responsive layout
 * 6. Accessibility helpers
 * 
 */

/*********************************************************************
 * 1. General HTML tags
 *
 */

 * {
	box-sizing: border-box; 
}

body, td, input[type=text], textarea {
	font-family: 'Quattrocento', serif;
	font-size: 105%; 
	line-height: 1.8em;
	color: #444; 
	margin: 0;
	
}

img {
	max-width: 100%; 
}
h1 {
	font-size: 2.5em;
	margin-bottom: 10px;
}

h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 7px;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.3em;
}
h4 {
	font-size: 1.1em;
}
h5 {
	font-size: .9em;
}
h6 {
	font-size: .9em;
}

a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid #ccc; 
}
	a:hover,
	.nav a:hover {
		color: #000;
		border-color: #aaa; 
	}

blockquote {
	margin-left: 0;
	padding-left: 1.5em;
	padding-right: 2em; 
	border-left: 4px solid #ddd; 
	font-style: italic; 
	color: #777; 
}

pre, code {
	background: #eee; 
	border: 1px solid #ddd; 
}

pre {
	font-size: 14px; 
	line-height: 1.4em;
	padding: 1em;
	border-left: 4px solid #ddd; 
}

p {
	padding-top: 5px;
	padding-bottom: 18px;
	font-size: 1.1em;
}

ul, ol {
	margin-top: -8px;
}
li {
	list-style-type: disc;
	margin-left: 20px;
}

/*********************************************************************
 * 2. Masthead area
 *
 */
.container {
	max-width: 1400px;
	margin-right: auto;
	margin-left: auto;
}

.breadcrumbs {
	clear: both; 
	padding-top: 1em; 
}
	.breadcrumbs span:after {
		content: ">";
		color: #999; 
		padding-left: 0.5em;
		padding-right: 0.25em; 
	}